.homeText {
  font-size: 100px;
  color: #323949;
  margin-bottom: 5rem;
}
.homeBody {
  display: block;
  padding: 11.5%;
  text-align: center;
  background: whitesmoke;
  color: lightgray;
  font-size: 35px;
}

.button{
  display: block;
  margin-top: 2rem;
  background: #4c5265;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  width: 15rem;
  padding: 1rem;
}

